@model SistemaPueblito.Web.Data.Entities.State


@{ 
    ViewData["Title"] = "Eliminar el estado " + Model.Name;
}

<h2>@ViewData["Title"]</h2>
<h3>¿Está seguro(a) de querer eliminar este registro?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-success">Regresar</a>
    </form>
</div>
