@model SistemaPueblito.Web.Data.Entities.House

@{
    ViewData["Title"] = "Detalles de la Casa " + Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-pencil-square"></i> Editar</a> 
    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Regresar</a>
</div>
